<!DOCTYPE html>
<html>

<head>
    <title>Resume Builder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/util.css" />
</head>

<body style="margin-top: 1.8%">
    <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Resume Builder</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#if notSharable}}
                    <li><a href="/users/logout">Logout</a></li>
                    <li><button onclick="generateLink('{{user.username}}')" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Generate Link</button></li>
                    {{else}}
                    <li><a href="/users/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/users/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <footer class="row" style="padding: 20px;background-color: #154360; margin-top: -0%;position: relative;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="color: white;">
            <center>Copyright &copy;<script>
                document.write(new Date().getFullYear());
                </script> Resume Builder
            </center>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="color: white;">
            <center style="word-spacing: 4px;" ><i class="fa fa-user"></i> Anuj Srivastava
                <a href="https://www.facebook.com/anuj.srivastava.71404" style="color: white" target="blank"><i class="fa fa-facebook"></i> FaceBook</a>
                <a href="https://github.com/Anujsri" target="blank" style="color: white"><i class="fa fa-github"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/anuj-srivastava-5ba457137/" target="blank" style="color: white"><i class="fa fa-linkedin"></i> LinkedIn</a>
            </center>
        </div>
    </footer>
    <script src="/js/an.js"></script>
    <script src="/js/loginui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>
<script type="text/javascript">
function generateLink(username) {
    let link = window.location.href + '/' + username
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: link,
        showConfirmButton: true
    })
}
'{{#if success_msg}}'
sweatAlert('{{success_msg}}', 'success');
'{{/if}}'
'{{#if error_msg}}'
sweatAlert('{{error_msg}}', 'warning');
'{{/if}}'
'{{#if error}}'
sweatAlert('{{error}}', 'warning');
'{{/if}}'

function sweatAlert(title, icon) {
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        width: 300,
        timerProgressBar: true,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
    Toast.fire({
        icon: icon,
        title: title
    })
}
</script>

</html>